::-webkit-scrollbar-track {
   background-color: transparent;
}

::-webkit-scrollbar {
   width: 5px;
   background: transparent;
}

::-webkit-scrollbar-thumb {
   background: #87f8f627;

}



body {
   color: #d4fcfc;
   margin: 0px;
   background-color: #eeecfe;


}

.container {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;

}

.FocusBoard {
   width: 400px;
   height: 450px;
   background: #011112;
   box-shadow: 0 8px 32px 0 #011213;
   border-radius: 25px;



}


.FocusBoard .Title {
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: #87f8f6;
   font-size: 2rem;
   width: 14.5ch;
   justify-self: center;
   border-right: 2.5px solid #87f8f6;
   overflow: hidden;
   white-space: nowrap;
   animation: piscarCursor infinite 0.5s;
   margin-top: 1.5rem;

}

.FocusBoard .SubTitle {
   width: fit-content;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 1rem;
   color: #2c54f2;
   justify-self: center;
   margin-top: 1.1rem;


}

.Form {
   width: 100%;
   height: 70%;
   justify-items: center;
   text-align: center;
   overflow: hidden;
   margin-top: 1.1rem;

}

#Formulario {
   height: 100%;
   width: 100%;

}

#BorderMid {
   margin-top: 1.1rem;;
   height: 87%;
   width: 100%;
   overflow: auto;
   border-top: #87f8f6 solid 1px;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;




}

.Form input {
   width: 6rem;
   height: 1rem;
   border-radius: 25px;
   border: black solid 1px;
   font-size: 0.8rem;
   text-align: center;
}

.Form #BotaoGerar {
   height: 20px;
   width: auto;
   font-family: 'Roboto', sans-serif;
   font-size: 0.5rem;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   font-weight: 500;
   background-color: #0a3ba3;
   color: #d4fcfc;
   border: none;
   border-radius: 45px;
   box-shadow: 0px 8px 15px #2c54f20e;
   transition: all 0.3s ease 0s;
   cursor: pointer;
   outline: none;
}

.Form #BotaoGerar:hover {
   background-color: #2c54f2;
   box-shadow: 0px 15px 20px #87f8f61f;
   color: white;
   transform: translateY(-7px);
}

.Form #BotaoGerar:disabled {
   background-color: gray;
   border-color: grey;
   color: black;

}

.Form #ButtonsBoard {
   margin-bottom: 10px;
}

.Form #ButtonsBoard input {
   height: 20px;
   width: auto;
   font-family: 'Roboto', sans-serif;
   font-size: 0.5rem;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   font-weight: 500;
   background-color: #0a3ba3;
   color: #d4fcfc;
   border: none;
   border-radius: 45px;
   box-shadow: 0px 8px 15px #2c54f20e;
   transition: all 0.3s ease 0s;
   cursor: pointer;
   outline: none;

}

.Form #ButtonsBoard input:hover {
   background-color: #2c54f2;
   box-shadow: 0px 15px 20px #87f8f61f;
   color: white;
   transform: translateY(-7px);
}

#GenerateFormBoard {
   margin-top: 5px;
   width: 100%;
   height: fit-content;
   overflow: hidden;

}


@keyframes piscarCursor {
   50% {
      border-right-color: transparent;
   }
}
@media only screen and (max-width: 600px) {
   html {
      font-size: 14px;
   }

   .FocusBoard {
      width: 300px;
      height: 350px;
   }
}
@media only screen and (min-width: 600px) {
   html {
      font-size: 18px;
   }
   .FocusBoard {
      width: 400px;
      height: 450px;
   }
   
}
@media only screen and (min-width: 768px) {
   html {
      font-size: 18px;
   }

   .FocusBoard {
      width:400px;
      height: 450px;
   }
}
@media only screen and (min-width: 992px) {
   html {
      font-size: 18px;
   }

   .FocusBoard {
      width: 400px;
      height: 450px;
   }
}
@media only screen and (min-width: 1200px) {
   html {
      font-size: 18px;
   }

   .FocusBoard {
      width: 400px;
      height:450px;
      border-radius: 5%;
   }
   
   .Form #BotaoGerar {
      height: 1rem;
   }

   .Form #ButtonsBoard input {
      height: 1rem;
   
   }
   .Form #ButtonsBoard{
      margin-bottom: 1rem;
   }
}
/*Media querie especificas para alguns dispositivos moveis(celulares) na orientacao landscape*/
@media only screen and 
(width:667px) and (height: 375px), 
(width:896px) and (height: 414px),
(width:844px) and (height: 390px),
(width:932px) and (height: 430px),
(width:915px) and (height: 412px),
(width:740px) and (height: 360px),
(width:914px) and (height: 412px)





{
   html{
      font-size: 12px;
   }
   .FocusBoard{
      height: calc(100% - 20%);
      width: calc(100% - 60%);
   }
}

/*Media querie especifica para ipad mini na orientacao landscape*/
@media only screen and (width:1024px) and (height: 768px){
   html {
      font-size: 18px;
   }

   .FocusBoard {
      width: 400px;
      height: 450px;
   }

}
/*Media querie especifica para ipad air na orientacao landscape*/
@media only screen and (width:1180px) and (height: 820px){
   html{
      font-size: 18px;
   }
   .FocusBoard{
      width: 400px;
      height: 450px;
   }
}
/*Media querie especifica para ipad pro na orientacao landscape*/
@media only screen and (width:1366px) and (height: 1024px){
   html{
      font-size: 18px;
   }
   .FocusBoard{
      width: 400px;
      height: 450px;
   }
}
/*Media querie especifica para Surface pro 7 na orientacao landscape*/
@media only screen and (width:1368px) and (height: 912px){
   html{
      font-size: 20px;
   }
   .FocusBoard{
      width: 500px;
      height: 550px;
   }
}
/*Media querie especifica para Surface Duo na orientacao landscape*/
@media only screen and (width:720px) and (height: 540px){
   html{
      font-size: 18px;
   }
   .FocusBoard{
      width: 400px;
      height: 450px;
   }
}
@media only screen and (width:1114px) and (height: 720px){
   html{
      font-size: 18px;
   }
   
   .FocusBoard{
      width: 400px;
      height: 450px;
   }
}
/*Media querie especifica para Galaxy Z Fold5 na orientacao folded landscape*/
@media only screen and (width:829px) and (height: 690px){
   html{
      font-size: 18px;
   }
   
   .FocusBoard{
      width: 400px;
      height: 450px;
   }
}
/*Media querie especifica para Galaxy Z Fold5 na orientacao continuous landscape*/
@media only screen and (width:882px) and (height: 344px){
   html{
      font-size: 12px;
   }
   
   .FocusBoard{
      width: 300px;
      height: 300px;
   }
}
/*Media querie especifica para Asus Zenbook Fold na orientacao continuous landscape*/
@media only screen and (width:1280px) and (height: 853px){
   html{
      font-size: 20px;
   }
   .FocusBoard{
      width: 500px;
      height: 550px;
   }
}  
/*Media querie especifica para Asus Zenbook Fold na orientacao folded portrait*/
@media only screen and (width:1280px) and (height:1706px){
   html{
      font-size: 40px;
   }
   .FocusBoard{
      width: 1000px;
      height: 1050px;
   }

}/*Media querie especifica para Asus Zenbook Fold na orientacao folded landscape*/
@media only screen and (width:1706px) and (height:1280px){
   html{
      font-size: 40px;
   }
   .FocusBoard{
      width: 1000px;
      height: 1050px;
   }

}
